.content-wrapper {
  margin-bottom: 60px; /* Adjust this value according to your sticky footer's height */
}

.back-to-topics {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
}
